.title{
	border-radius: 4px;
    margin-top: 20px;
    padding: 30px;
    background: #000; 
}



.app{
    border-radius: 4px;
    margin-top: 20px;
    padding: 30px;
    background: #EC8585;

}






